<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ethereum Wallet Generator</title>
<link rel="stylesheet" href="home.css">
<div class="container mt-5">
    <form id="gen" class="text-center">
        <h1>Ethereum Wallet Generator</h1>
        <p style="word-wrap: break-word;">Public Key:
            <%= public_key %>
        </p>
        <p style="word-wrap: break-word;">Private Key:
            <%= private_key %>
        </p>
        <button id="gen" class="btn btn-primary">Create Account</button>
    </form>
</div>

<script>
    document.querySelector("#gen").addEventListener("click", e => {
        e.preventDefault();
        window.location.reload();
    })
</script>